#!/bin/bash

# Add the current directory to Go path.
GOPATH="$GOPATH:$(pwd)"
export GOPATH

# A directory to store pact files
export PACT_DIR="${PACT_DIR:-$(pwd)/pacts}"

# A contract version.
export PACT_VERSION="${PACT_VERSION:-1.0.0}"

# A Pact broker to store and share pact files.
#export PACT_BROKER_URL="${PACT_BROKER_URL:-http://pact-broker-pact-broker.193b.starter-ca-central-1.openshiftapps.com}"
export PACT_BROKER_URL="${PACT_BROKER_URL:-http://localhost:8090}"

export PACT_BROKER_USERNAME="${PACT_BROKER_USERNAME:-pact_broker}"
if [ -z "$PACT_BROKER_PASSWORD" ]; then
    if [ -f .pact-broker-password ]; then
        export PACT_BROKER_PASSWORD="$(cat .pact-broker-password)"
    fi
fi

# A provider base url (default `http://localhost:8089`, which is supposed to be a local instance
# of fabric8-auth service running in developer mode)
export PACT_PROVIDER_BASE_URL="${PACT_PROVIDER_BASE_URL:-http://localhost:8089}"

# Pact Consumer
export PACT_CONSUMER="${PACT_CONSUMER:-Fabric8AuthConsumer}"

# Pact Provider
export PACT_PROVIDER="${PACT_PROVIDER:-Fabric8AuthService}"

# OSIO username
export OSIO_USERNAME="${OSIO_USERNAME:-}"

# OSIO password
export OSIO_PASSWORD="${OSIO_PASSWORD:-}"

# Auth service account client credentials
export AUTH_SERVICE_CLIENT_ID="${AUTH_SERVICE_CLIENT_ID:-f867ec72-3171-4b8f-8eec-90a32eab6e0b}"
export AUTH_SERVICE_CLIENT_SECRET="${AUTH_SERVICE_CLIENT_SECRET:-secret}"