#!/bin/bash
####################################################################################
# E2E tests configuration template. Please copy this file to local.osio.conf.sh    #
# and fill the necessary values                                                    #
####################################################################################

# Show debug log messages
export DEBUG="false"

# OSIO URL - usually "https://openshift.io", "https://prod-preview.openshift.io" or "http://localhost:3000"
export OSIO_URL="https://openshift.io"
# OSIO user name
export OSIO_USERNAME=""
# OSIO password
export OSIO_PASSWORD=""

# GitHub
export GITHUB_USERNAME=""
# Used only in launcher integration test suite
export GITHUB_REPO=""

# Test suite - see protractor.config.ts for valid test suites
export TEST_SUITE="smoketest"
# Release strategy - src/support/release_strategy.ts for valid values
export RELEASE_STRATEGY="releaseStageApproveAndPromote"
# Quickstart (booster) to be used - see src/support/quickstart.ts for valid values
export QUICKSTART_NAME="SpringBootHttp"
# Reset the environment after the test suite
export RESET_ENVIRONMENT="false"
# Expected user setting for feature levels - internal, experimental, beta, released
export FEATURE_LEVEL="released"
